# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
env/

# IDE
.vscode/
.idea/

# Logs
*.log

# Dependency directories
lib/
lib64/
bin/
include/
share/

# Compiled files
*.pyc
*.pyo
*.pyd

# Environment variables
.env

# Miscellaneous
.DS_Store
